body {
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(34, 32, 32);

  background: rgb(238, 174, 202);
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
}

h1 {
  margin: 120px;
  text-align: center;
  font-size: 58px;
}

div.slide {
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.28);
  border-radius: 16px;
  box-shadow: 0 4px 60px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8.2px);
  -webkit-backdrop-filter: blur(8.2px);

  margin: 60px 20px;
  padding: 60px;
  border-radius: 30px;
}

p.description {
  max-width: 400px;
}
